* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    transition: all .4s linear;
    text-decoration: none;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

aside {
    display: flex;
    justify-content: center;
    background-color: #333;
    position: fixed;
    width: 300px;
    min-height: 100vh;
    z-index: 1000;
}

.logo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-top: 2rem;
    overflow-y: auto;
}

h3 {
    text-align: center;
    font-size: 10px;
    color: #fff;
    padding-top: 2rem;
    font-weight: bold;
}

header {
    display: flex;
}

nav {
    display: block;
    justify-content: start;
    align-items: center;
    color: #fff;
    padding: 2rem;
    left: 0;
    top: 16rem;
}

ul {
    display: block;
    gap: 2rem;
    list-style: none;
}

main {
    margin-left: 300px;
}

section {
    min-height: 100vh;
}

section#inicio {
    width: 110%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../img/banner.jpeg");
}

.text-shadow {
    text-shadow: 4px 4px 10px #333;
}

.subtitle {
    font-size: 1.8rem;
    margin-left: 2rem;
}

.menu {
    position: fixed;
    color: #fff;
    font-size: 1.1rem;
    top: 1rem;
    right: 1rem;
    border-radius: 4rem;
    cursor: pointer;
    z-index: 10;
    width: 45px;
    height: 45px;
    display: none;
    justify-content: center;
    align-items: center;
}

.menu-nav-active {
    overflow: hidden;
}

.menu-nav-active #header, nav {
   left: 0;
}


/* Responsive */

@media (max-width: 1024px) {

    aside {
        left: -300px;
    }

    .menu {
        display: flex;
    }

    h2 {
        font-size: 3.5rem;
        color: #fff;
    }
    .subtitle {
        margin-left: 0;
        font-size: 1rem;
        color: #fff;
        padding-top: 20rem;
    }
    main {
        margin-left: 0;
    }
}