<!DOCTYPE html>
<html lang="pt_BR">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Portifolio</title>
        <link rel="stylesheet" href="../static/css/styles.css" />
        <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" />
        <script
            type="module"
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script
            nomodule
            src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </head>
    <body>
        <ion-icon
            name="menu"
            class="menu text-bg-success"
            onclick="toggleMenu(this)"></ion-icon>
        <aside id="header">
            <section>
                <img
                    src="../static/img/eu.jpeg"
                    alt="Jeferson Santos Oliveira"
                    class="logo" />
                <h3 class="text-success">Oliveira.js</h3>
                <div class="mt-4 text-center text-white">
                    <a
                        class="text-white text-decoration-none"
                        href="https://github.com/Jeferson-Js"
                        target="_blank">
                        <i class="bi bi-github m-2"></i>
                    </a>
                    <a
                        class="text-white text-decoration-none"
                        href="https://www.linkedin.com/in/jeferson-santos-oliveira/"
                        target="_blank">
                        <i class="bi bi-linkedin m-2"></i>
                    </a>
                </div>
                <header>
                    <nav>
                        <ul class="mb-3">
                            <li class="mb-3 nav-item">
                                <a
                                    class="text-white text-decoration-none"
                                    href="#inicio"
                                    ><i class="bi bi-house m-2 text-success"></i
                                    >Inicio</a
                                >
                            </li>
                            <li class="mb-3 nav-item">
                                <a
                                    class="text-white text-decoration-none"
                                    href="#sobre"
                                    ><i
                                        class="bi bi-file-earmark-person m-2 text-success"></i>
                                    Sobre</a
                                >
                            </li>
                            <li class="mb-3 nav-item">
                                <a
                                    class="text-white text-decoration-none"
                                    href="#habilidades"
                                    ><i
                                        class="bi bi-list-check m-2 text-success"></i>
                                    Habilidades</a
                                >
                            </li>
                            <li class="mb-3 nav-item">
                                <a
                                    class="text-white text-decoration-none"
                                    href="#curriculo"
                                    ><i
                                        class="bi bi-file-earmark-code m-2 text-success"></i
                                    >Curriculo</a
                                >
                            </li>
                            <li class="mb-3 nav-item">
                                <a
                                    class="text-white text-decoration-none"
                                    href="#portifolio"
                                    ><i
                                        class="bi bi-collection m-2 text-success"></i
                                    >Portifólio</a
                                >
                            </li>
                            <li class="mb-3 nav-item">
                                <a
                                    class="text-white text-decoration-none"
                                    href="#contato"
                                    ><i
                                        class="bi bi-person-lines-fill m-2 text-success"></i
                                    >Contato</a
                                >
                            </li>
                        </ul>
                    </nav>
                </header>
            </section>
        </aside>
        <main>
            <section id="inicio" class="row">
                <div
                    class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                    <h2 class="text-shadow text-white pt-5">
                        Jeferson Santos Oliveira
                    </h2>
                    <span class="subtitle text-dark"
                        >Programador Full Stack</span
                    >
                </div>
            </section>
            <section class="container mt-5" id="sobre">
                <div class="row w-100">
                    <div class="col-md-12">
                        <h2 class="pt-3 text-center text-success">Sobre</h2>
                        <p class="text-center">
                            Meu nome é Jeferson Santos Oliveira sou um
                            programador front-end e por gostar tanto da
                            linguagem JavaScript acabei adotando a extensão "JS"
                            em meu nome Oliveira.js e estou em contato com a
                            tecnologia a 6 anos antenado e apaixonado pelo mundo
                            da tecnologia, estou sempre me aprofundando em todas
                            as ferramentas e tecnologias no qual estou em
                            contato, busco também conhecimentos avançados na
                            área de desenvolvimento pessoal para que o
                            relacionamento com as pessoas da empresa e do time
                            tenha a sua conexão profissional. Minha busca por
                            desafios maiores me deram a oportunidade de
                            trabalhar em projetos do Google como programador.
                            Cursando comercio exterior na Uninove. Tenho
                            tecnólogo em tecnologia da informação pela
                            instituição Polly centro de tecnologia da
                            informação. Desenvolvimento pessoal: instituição
                            Pandora treinamentos.
                        </p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-4">
                        <img
                            class="img-fluid shadow rounded"
                            src="../static/img/eu.jpeg"
                            alt="Jeferson Santos Oliveira" />
                    </div>
                    <div class="col-md-8">
                        <h3 class="text-success fs-2 text-start mb-2">
                            Desenvolvedor Fullstack
                        </h3>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing
                            elit. Sit, iste illum. Autem impedit illum, debitis
                            exercitationem, quo reprehenderit placeat sequi fuga
                            similique magni sit veniam?
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush fs-6">
                                    <li class="list-group-item">
                                        Niver:
                                        <span class="fw-lighter"
                                            >29 Novembro 1992</span
                                        >
                                    </li>
                                    <li class="list-group-item">
                                        Idade:
                                        <span class="fw-lighter">30 anos</span>
                                    </li>
                                    <li class="list-group-item">
                                        Cidade
                                        <span class="fw-lighter"
                                            >São Paulo</span
                                        >
                                    </li>
                                    <li class="list-group-item"></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush fs-6">
                                    <li class="list-group-item">
                                        Hobby:
                                        <span class="fw-lighter"
                                            >Poliglota</span
                                        >
                                    </li>
                                    <li class="list-group-item">
                                        Cargo:
                                        <span class="fw-lighter"
                                            >Fullstack</span
                                        >
                                    </li>
                                    <li class="list-group-item">
                                        Experiência:
                                        <span class="fw-lighter">
                                            + 2 anos</span
                                        >
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section-bg" id="habilidades">
                <div class="container pb-5">
                    <h2 class="text-center text-success mt-4">Habilidades</h2>
                    <p class="text-center">
                        Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Asperiores accusamus dolor possimus placeat harum
                        cupiditate corporis perspiciatis, facilis sint
                        consectetur error, earum quaerat omnis architecto quidem
                        eligendi ducimus aut nihil.
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="mt-3 mb-0">HTML</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                              </div>
                              <p class="mt-3 mb-0">CSS</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                              </div>
                              <p class="mt-3 mb-0">JavaScript</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                              </div>
                              <p class="mt-3 mb-0">React.js</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                              </div>
                              <p class="mt-3 mb-0">Vue.js</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                              </div>
                              <p class="mt-3 mb-0">Angular</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                              </div>
                        </div>
                        <div class="col-md-6">
                             <p class="mt-3 mb-0">HTML</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                              </div>
                              <p class="mt-3 mb-0">CSS</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                              </div>
                              <p class="mt-3 mb-0">JavaScript</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                              </div>
                              <p class="mt-3 mb-0">React.js</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                              </div>
                              <p class="mt-3 mb-0">Vue.js</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                              </div>
                              <p class="mt-3 mb-0">Angular</p>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                            </div>
                        </div>
                    </div>
                    <hr class="w-50 me-auto ms-auto">
                </div>
            </section>
            <section id="curriculo">
                <div class="container pb-5">
                    <h2 class="text-center text-success mt-4">Curriculo</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="title-cv">Educação</h3>

                            <div class="cv-item">
                                <h4>Tecnologia da informação</h4>
                                <h5>2011 a 2013</h5>
                                <p><em>Polly centro de técnologia da informação.</em></p>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et vitae in officiis iure ut? Eum!</p>
                            </div>

                            <div class="cv-item">
                                <h4>Tecnologia da informação</h4>
                                <h5>2011 a 2013</h5>
                                <p><em>Polly centro de técnologia da informação.</em></p>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et vitae in officiis iure ut? Eum!</p>
                            </div>

                            <div class="cv-item">
                                <h4>Tecnologia da informação</h4>
                                <h5>2011 a 2013</h5>
                                <p><em>Polly centro de técnologia da informação.</em></p>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et vitae in officiis iure ut? Eum!</p>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <h3 class="title-cv">Profissional</h3>
                            <div class="cv-item">
                                <h4>Tecnologia da informação</h4>
                                <h5>2011 a 2013</h5>
                                <p><em>Polly centro de técnologia da informação.</em></p>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et vitae in officiis iure ut? Eum!</p>
                            </div>

                            <div class="cv-item">
                                <h4>Tecnologia da informação</h4>
                                <h5>2011 a 2013</h5>
                                <p><em>Polly centro de técnologia da informação.</em></p>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et vitae in officiis iure ut? Eum!</p>
                            </div>

                            <div class="cv-item">
                                <h4>Tecnologia da informação</h4>
                                <h5>2011 a 2013</h5>
                                <p><em>Polly centro de técnologia da informação.</em></p>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et vitae in officiis iure ut? Eum!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="portifolio" class="section-bg">
                <div class="container pt-5 pb-5">
                    <h2 class="text-center text-success mt-1 mb-5">Portifólio</h2>
                <div id="carouselPortifolio" class="carousel carousel-dark slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselPortifolio" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselPortifolio" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active" data-bs-interval="10000">
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <div class="col">
                              <div class="card h-100">
                                <img src="../static/img/pokedex.webp" class="card-img-top" alt="pokedex">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p> Pojeto pokedex</p>
                                  <button class="btn btn-primary">Pokedex</button>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card h-100">
                                <img src="../static/img/pokedex.webp" class="card-img-top" alt="pokedex">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p> Pojeto pokedex</p>
                                  <button class="btn btn-primary">Pokedex</button>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card h-100">
                                <img src="../static/img/pokedex.webp" class="card-img-top" alt="pokedex">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p> Pojeto pokedex</p>
                                  <button class="btn btn-primary">Pokedex</button>
                                </div>
                              </div>
                            </div>
                            
                          </div>
                      </div>
                      <div class="carousel-item" data-bs-interval="2000">
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <div class="col">
                              <div class="card h-100">
                                <img src="../static/img/pokedex.webp" class="card-img-top" alt="pokedex">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p> Pojeto pokedex</p>
                                  <button class="btn btn-primary">Pokedex</button>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card h-100">
                                <img src="../static/img/pokedex.webp" class="card-img-top" alt="pokedex">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p> Pojeto pokedex</p>
                                  <button class="btn btn-primary">Pokedex</button>
                                </div>
                              </div>
                            </div>
                            <div class="col">
                              <div class="card h-100">
                                <img src="../static/img/pokedex.webp" class="card-img-top" alt="pokedex">
                                <div class="card-body">
                                  <h5 class="card-title">Card title</h5>
                                  <p> Pojeto pokedex</p>
                                  <button class="btn btn-primary"><a class="text-white text-decoration-none" href="https://consulta-de-8mb6nahyw-jeferson-js.vercel.app/" target="_blank">Projeto Pokedex</a></button>
                                </div>
                              </div>
                            </div>
                            
                          </div>
                      </div>
                      
                    </div>
                </div>
            </section>
            <section id="contato">
                <div class="container mb-5">
                    <h2 class="text-center text-success mt-4 mb-5">Contato</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card shadow border-0">
                                    <div class="endereco">
                                        <h4 class="text-success m-2"><i class="bi bi-geo-alt m-2"></i>Localização:</h4>
                                        <p class="m-3">São Paulo - SP</p>
                                    </div>
                                    <div class="email">
                                        <h4 class="text-success m-3"><i class="bi bi-envelope m-2"></i>Email:</h4>
                                        <p class="m-3">oliveira.jeferson.jso@gmail.com</p>
                                    </div>
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29257.006841730537!2d-46.74612118351648!3d-23.563922955596684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce564112601bb1%3A0xc573659d429c61!2zQnV0YW50w6MsIFPDo28gUGF1bG8gLSBTUA!5e0!3m2!1spt-BR!2sbr!4v1671027225015!5m2!1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-100"></iframe>
                                </div>

                            </div>
                            <div class="col-md-6 mt-5 mt-md-0">
                                <div class="card shadow p-4 h-100 border-0">
                                    <form class="row g-3">
                                        <div class="col-md-6">
                                          <label for="nome" class="form-label text-success">Nome</label>
                                          <input type="name" class="form-control" placeholder="Digite o seu nome" id="nome">
                                        </div>
                                        <div class="col-md-6">
                                          <label for="email" class="form-label text-success">Email</label>
                                          <input type="email" class="form-control" placeholder="Digite o seu email" id="email">
                                        </div>
                                        <div class="col-12">
                                          <label for="mensagem" class="form-label text-success">Mensagem</label>
                                          <textarea type="text" class="form-control" placeholder="Digite a sua mensagem" id="mensagem" rows="10"></textarea>
                                        </div>
                                        
                                        <div class="col-12">
                                          <button type="submit" class="btn btn-outline-success w-50 d-flex justify-content-center m-auto mt-2">Enviar</button>
                                        </div>
                                      </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
        </main>

        <script src="../static/scripts/scripts.js"></script>
        <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
